In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [36]:
df=pd.read_csv("./NBA.csv")

In [37]:
df.head()

,Name,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
0,Alvin Robertson,79,21.3,9.2,3.8,7.6,49.8,0.1,0.1,36.4,...,2.1,73.4,1.5,1.9,3.4,3.5,1.6,0.3,2.1,1
1,Jose Slaughter,63,8.2,3.6,1.4,3.8,37.4,0.1,0.7,22.0,...,0.9,64.4,0.5,0.5,1.1,0.8,0.6,0.1,0.7,0
2,Joey Graham,80,19.8,6.7,2.5,5.2,47.8,0.4,1.1,33.3,...,1.7,81.2,0.7,2.3,3.1,0.8,0.5,0.2,1.1,1
3,Jeremy Lamb,23,6.4,3.1,1.0,3.0,35.3,0.4,1.3,30.0,...,0.6,100.0,0.2,0.6,0.8,0.2,0.1,0.1,0.3,1
4,Sylvester Gray,55,22.2,8.0,3.0,7.2,42.0,0.0,0.1,25.0,...,2.8,67.3,2.1,3.1,5.2,2.1,0.7,0.5,1.9,0

In [38]:
df.describe()

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000
mean,60.538246,17.653451,6.827239,2.638246,5.895896,44.284701,0.251772,0.784515,19.052425,1.299254,1.822295,70.361287,1.009795,2.030224,3.038899,1.545616,0.618750,0.372108,1.190858,0.635261
std,17.177723,8.327474,4.380387,1.687747,3.614532,6.118971,0.389614,1.070207,15.996160,0.997812,1.331931,10.652893,0.761275,1.355413,2.032584,1.500824,0.413806,0.429226,0.731568,0.481582
min,11.000000,3.100000,0.700000,0.300000,0.800000,23.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.300000,0.000000,0.000000,0.000000,0.100000,0.000000
25%,47.000000,10.875000,3.700000,1.400000,3.300000,40.300000,0.000000,0.000000,0.000000,0.600000,0.900000,64.600000,0.400000,1.000000,1.500000,0.500000,0.300000,0.100000,0.700000,0.000000
50%,63.000000,16.100000,5.500000,2.100000,4.800000,44.200000,0.100000,0.300000,22.400000,1.000000,1.500000,71.300000,0.800000,1.700000,2.500000,1.050000,0.500000,0.200000,1.000000,1.000000
75%,77.000000,23.100000,8.800000,3.400000,7.600000,47.925000,0.400000,1.200000,32.625000,1.600000,2.300000,77.700000,1.400000,2.600000,4.000000,1.900000,0.800000,0.500000,1.500000,1.000000
max,82.000000,40.900000,28.200000,10.200000,19.800000,66.200000,2.300000,6.500000,100.000000,7.700000,10.200000,100.000000,5.300000,9.600000,13.900000,10.600000,2.500000,3.900000,4.200000,1.000000

In [43]:
data=df.iloc[:,1:20].values
Y=df["TARGET_5Yrs"].values

In [48]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver="lbfgs",max_iter=10000)# modelを作って
model.fit(data,Y)# fitする
#fit()には、(n行1列)の行列を入れる
print("coefficient:",model.coef_) # coeficient  y=ax+bのa
print("intercept:",model.intercept_) #intercept, 切片
print("correct rate:",model.score(data,Y))
# score()で予測の良さを返します。logisticRegression()のモデルでは正答率です。

coefficient: [[ 0.03847277 -0.0424552   0.18939564 -0.64529985  0.20092444  0.02427451
   1.26998115 -0.58518928  0.00667542  0.04878464 -0.0755721   0.01591145
   0.81101625 -0.2162067   0.09530353  0.27362983 -0.17946134  0.33828488
  -0.29462606]]
intercept: [-4.51520851]
correct rate: 0.7248134328358209

In [45]:
data

array([[79. , 21.3,  9.2, ...,  1.6,  0.3,  2.1],
       [63. ,  8.2,  3.6, ...,  0.6,  0.1,  0.7],
       [80. , 19.8,  6.7, ...,  0.5,  0.2,  1.1],
       ...,
       [53. , 11.5,  5.6, ...,  0.2,  0.2,  1.4],
       [56. , 18.9,  4.7, ...,  0.6,  0.8,  1.1],
       [52. , 16.7,  6.3, ...,  0.3,  0.7,  0.6]])